@font-face {
    font-family: overlayFont;
    src: url('../../assets/fonts/navbarFont/PermanentMarker-Regular.ttf');
    src: url('../../assets/fonts/navbarFont/PermanentMarker-Regular.woff');
    src: url('../../assets/fonts/navbarFont/PermanentMarker-Regular.woff2');

}

$backgroundcoloroverlay: linear-gradient(to right,#EA540A, #F29D14);
$fontfamilyoverlay: overlayFont, sans-serif;