@font-face {
    font-family: navBarFont;
    src: url('../../assets/fonts/navbarFont/SecularOne-Regular.ttf');
    src: url('../../assets/fonts/navbarFont/SecularOne-Regular.ttf');
    src: url('../../assets/fonts/navbarFont/SecularOne-Regular.woff2');

}
$fontNavbar: navBarFont;
$colorFontNavBar: 	#ee5d6c;