@import './variableChiSiamoComponent.scss';
.principalContainer{
    padding-top: 30px;
.title{
    font-family: $fontTitle, sans-serif;
    text-align: center;
    color: #F29D14;
    font-weight: bold;
    padding-top: 50px;
}
.paragraph{
    font-family: $fontParagraph, sans-serif;
    padding-top: 30px;
    font-size: 1.4em;
    color: rgb(23, 22, 22);
    line-height: 2;
}
}